---
import Layout from "../../layouts/Layout.astro";
import PaginationControl from "../../components/PaginationControl.astro";

import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";

export async function getStaticPaths({
	paginate,
}: {
	paginate: PaginateFunction;
}) {
	const blogEntries = await getCollection("blog");

	const formattedEntries = blogEntries.sort(
		(
			a: { data: { date: string | number | Date } },
			b: { data: { date: string | number | Date } },
		) => {
			return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
		},
	);

	return paginate(formattedEntries, { pageSize: 5 });
}

const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split("/");
const firstPath = pathname[1];
---

<Layout title="Posts">
	<h1>All Posts</h1>

	<ul>
		{
			page.data.map((post) => {
				return (
					<li>
						<a href={`/posts/${post.slug}`}>{post.data.title}</a>
					</li>
				);
			})
		}
	</ul>

	<PaginationControl
		length={page.lastPage}
		currentURL={page.url.current}
		currentPageIdx={page.currentPage}
		firstURL={`/${firstPath}`}
		lastURL={`/${firstPath}/${page.lastPage}`}
		prevURL={page.url.prev}
		nextURL={page.url.next}
	/>
</Layout>
