---
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;

import appleLogo from "./_assets/apple.svg";
import systemFloppy from "./_assets/System Floppy.svg";
import trash from "./_assets/Trash.svg";
import bgTile from "./_assets/bg_tile.svg";
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script
			is:inline
			data-goatcounter="https://ethanlewdotdev.goatcounter.com/count"
			async
			src="//gc.zgo.at/count.js"></script>

		<link rel="stylesheet" href="https://unpkg.com/system7/style.css" />
		<style>
			.window-pane {
				font-size: 20px;
			}
		</style>
		<ViewTransitions />
	</head>
	<body class="h-full">
		<div
			class="fixed left-0 top-0 h-6 w-full flex flex-row gap-4 border-b-2 border-black bg-white px-1 py-4"
		>
			<nav>
				<ul
					class="m-0 h-full flex flex-row list-none items-center gap-8 px-4 py-0"
					style="font-family: Chicago_12, sans-serif;"
				>
					<li>
						<div>
							<Image src={appleLogo} alt="Apple logo" loading="eager" />
						</div>
					</li>
					<li class="text-xl">
						<i class="i-fa6-brands:github align-text-bottom"></i>
						<a
							href="http://github.com/ethanl21"
							target="_blank"
							rel="noopener noreferrer">GitHub</a
						>
					</li>
					<li class="text-xl">
						<i class="i-fa6-brands:linkedin align-text-bottom"></i>
						<a
							href="https://www.linkedin.com/in/ethan-lew-97825b167/"
							target="_blank"
							rel="noopener noreferrer">Linkedin</a
						>
					</li>
				</ul>
			</nav>
		</div>

		<div
			class="h-full flex items-center justify-center bg-auto"
			style=`background-image: url(${bgTile.src});`
		>
			<div
				class="absolute right-0 top-10 h-[90%] flex flex-col items-center justify-between"
			>
				<Image src={systemFloppy} alt="System Software" loading="eager" />
				<Image src={trash} alt="Trash" loading="eager" />
			</div>

			<main class="window z-1 overflow-hidden rounded-md bg-white">
				<div class="title-bar">
					<button aria-label="Close" class="p-0 !h-9 !min-w-9 !w-9"></button>
					<h1 class="title">ethanlew.dev</h1>
					<button aria-label="Resize" class="resize p-0 !h-9 !min-w-9 !w-9"
					></button>
				</div>
				<div class="separator"></div>

				<div class="window-pane h-lg max-w-3xl px-4 py-8 lg:min-w-3xl">
					<slot />
				</div>
			</main>
		</div>
	</body>
</html>
